<form id="new-post-form" class="card">
  <div class="card-header">
    <h3>Create A New Post</h3>
  </div>
  <div class="card-body">
    <input type="text" class="form-input" id="post-title" />
    <textarea name="post-body" class="form-input" id="post-body"></textarea>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>

<script src="/js/add-post.js"></script>